<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tests</title>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="json-enc-custom.js"></script>

    <script src="test-env/test-env.js"></script>
    <link rel="stylesheet" href="test-env/styles.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Test Case</th>
                <th>Expected Result</th>
                <th>Actual Result</th>
                <th>Diff</th>
            </tr>
        </thead>
        <tbody id="test-cases"></tbody>
    </table>
    <div id="test-results-container">
        <h2 id="test-results"></h2>
    </div>
    <script>
        // Specification, referenced in test cases - https://www.w3.org/TR/html-json-forms/
        const testCases = {
            1: {
                desc: "Example 1 from specification, parse-types=true",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                    <input name="name" value="Bender">
                    <select name="hind">
                        <option selected>Bitable</option>
                        <option>Kickable</option>
                    </select>
                    <input type="checkbox" name="shiny" checked>
                </form>
                `,
                expected: `{
                    "name":"Bender",
                    "hind":"Bitable",
                    "shiny":true
                }`
            },
            2: {
                desc: "Example 1 from specification, parse-types=false",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input name="name" value="Bender">
                    <select name="hind">
                        <option selected>Bitable</option>
                        <option>Kickable</option>
                    </select>
                    <input type="checkbox" name="shiny" checked>
                </form>
                `,
                expected: `{
                    "name":"Bender",
                    "hind":"Bitable",
                    "shiny":"on"
                }`
            },
            3: {
                desc: "Example 2 from specification, parse-types=true",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                    <input type="number" name="bottle-on-wall" value="1">
                    <input type="number" name="bottle-on-wall" value="2">
                    <input type="number" name="bottle-on-wall" value="3">
                </form>
                `,
                expected: `{
                    "bottle-on-wall":[1,2,3]
                }`
            },
            4: {
                desc: "Example 2 from specification, parse-types=false",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input type="number" name="bottle-on-wall" value="1">
                    <input type="number" name="bottle-on-wall" value="2">
                    <input type="number" name="bottle-on-wall" value="3">
                </form>
                `,
                expected: `{
                    "bottle-on-wall":["1","2","3"]
                }`
            },
            5: {
                desc: "Example 3 from specification, parse-types=true",
                form:
                `
                    <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                        <input name="pet[species]" value="Dahut">
                        <input name="pet[name]" value="Hypatia">
                        <input name="kids[1]" value="Thelma">
                        <input name="kids[0]" value="Ashley">
                    </form>
                `,
                expected: `{
                    "pet":{
                        "species":"Dahut",
                        "name":"Hypatia"
                    },
                    "kids":[
                        "Ashley",
                        "Thelma"
                    ]
                }`
            },
            6: {
                desc: "Example 3 from specification, parse-types=false",
                form:
                `
                    <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                        <input name="pet[species]" value="Dahut">
                        <input name="pet[name]" value="Hypatia">
                        <input name="kids[1]" value="Thelma">
                        <input name="kids[0]" value="Ashley">
                    </form>
                `,
                expected: `{
                    "pet":{
                        "species":"Dahut",
                        "name":"Hypatia"
                    },
                    "kids":[
                        "Ashley",
                        "Thelma"
                    ]
                }`
            },
            7: {
                desc: "Example 4 from specification, parse-types=true",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                    <input name="hearbeat[0]" value="thunk">
                    <input name="hearbeat[2]" value="thunk">
                </form>
                `,
                expected: `{
                    "hearbeat":["thunk",null,"thunk"]
                }`
            },
            8: {
                desc: "Example 4 from specification, parse-types=false",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input name="hearbeat[0]" value="thunk">
                    <input name="hearbeat[2]" value="thunk">
                </form>
                `,
                expected: `{
                    "hearbeat":["thunk",null,"thunk"]
                }`
            },
            9: {
                desc: "Example 5 from specification, parse-types=true",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                    <input name="pet[0][species]" value="Dahut">
                    <input name="pet[0][name]" value="Hypatia">
                    <input name="pet[1][species]" value="Felis Stultus">
                    <input name="pet[1][name]" value="Billie">
                </form>
                `,
                expected: `{
                    "pet":[
                        {
                            "species":"Dahut",
                            "name":"Hypatia"
                        },
                        {
                            "species":"Felis Stultus",
                            "name":"Billie"
                        }
                    ]
                }`
            },
            10: {
                desc: "Example 5 from specification, parse-types=false",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input name="pet[0][species]" value="Dahut">
                    <input name="pet[0][name]" value="Hypatia">
                    <input name="pet[1][species]" value="Felis Stultus">
                    <input name="pet[1][name]" value="Billie">
                </form>
                `,
                expected: `{
                    "pet":[
                        {
                            "species":"Dahut",
                            "name":"Hypatia"
                        },
                        {
                            "species":"Felis Stultus",
                            "name":"Billie"
                        }
                    ]
                }`
            },
            11: {
                desc: "Example 6 from specification, parse-types=true",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                    <input name="wow[such][deep][3][much][power][!]" value="Amaze">
                </form>
                `,
                expected: `{
                    "wow":{
                        "such":{
                            "deep":[
                                null,
                                null,
                                null,
                                {
                                    "much":{
                                        "power":{
                                            "!":"Amaze"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }`
            },
            12: {
                desc: "Example 6 from specification, parse-types=false",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input name="wow[such][deep][3][much][power][!]" value="Amaze">
                </form>
                `,
                expected: `{
                    "wow":{
                        "such":{
                            "deep":[
                                null,
                                null,
                                null,
                                {
                                    "much":{
                                        "power":{
                                            "!":"Amaze"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }`
            },
            13: {
                desc: "Example 7 from specification, parse-types=true",
                allowedToFail: true,
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                    <input name="mix" value="scalar">
                    <input name="mix[0]" value="array 1">
                    <input name="mix[2]" value="array 2">
                    <input name="mix[key]" value="key key">
                    <input name="mix[car]" value="car key">
                </form>
                `,
                expected: `{
                    "mix":{
                        "":"scalar",
                        "0":"array 1",
                        "2":"array 2",
                        "key":"key key",
                        "car":"car key"}
                    }`
            },
            14: {
                desc: "Example 7 from specification, parse-types=false",
                allowedToFail: true,
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input name="mix" value="scalar">
                    <input name="mix[0]" value="array 1">
                    <input name="mix[2]" value="array 2">
                    <input name="mix[key]" value="key key">
                    <input name="mix[car]" value="car key">
                </form>
                `,
                expected: `{
                    "mix":{
                        "":"scalar",
                        "0":"array 1",
                        "2":"array 2",
                        "key":"key key",
                        "car":"car key"
                    }
                }`
            },
            15: {
                desc: "Example 8 from specification, parse-types=true",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                    <input name="highlander[]" value="one">
                </form>
                `,
                expected: `{
                    "highlander":["one"]
                }`
            },
            16: {
                desc: "Example 8 from specification, parse-types=false",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input name="highlander[]" value="one">
                </form>
                `,
                expected: `{
                    "highlander":["one"]
                }`
            },
            // Example 9 is not included because it contains a file input
            // may be included in later version (but now it makes no sense)
            17: {
                desc: "Example 10 from specification, parse-types=true",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="true">
                    <input name="error[good]" value="BOOM!">
                    <input name="error[bad" value="BOOM BOOM!">
                </form>
                `,
                expected: `{
                    "error":{"good":"BOOM!"},
                    "error[bad":"BOOM BOOM!"
                }`
            },
            18: {
                desc: "Example 10 from specification, parse-types=false",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input name="error[good]" value="BOOM!">
                    <input name="error[bad" value="BOOM BOOM!">
                </form>
                `,
                expected: `{
                    "error":{"good":"BOOM!"},
                    "error[bad":"BOOM BOOM!"
                }`
            },
            19: {
                desc: "All possible tags in form, parse-types=true",
                form:
                `
                <form 
                    hx-ext="json-enc-custom" 
                    hx-post="/" 
                    parse-types="true"
                >
                    <fieldset>
                        <input name="number" type="number" value="15.7">
                        <input name="text" type="text" value="25">
                        <input name="range" type="range" value="15">
                        <input name="checkbox" type="checkbox" checked>
                        <input name="unknown" value="some text">
                    </fieldset>
                    <textarea name="textarea">Example text</textarea>
                    <select name="select-one-combined">
                        <optgroup label="String options">
                            <option value="first">First</option>
                            <option value="second" selected>Second</option>
                        </optgroup>
                        <optgroup label="Number options">
                            <option value="10">10</option>
                            <option value="3.14">3.14</option>
                        </optgroup>
                    </select>
                    <select name="select-one-numbers">
                        <option value="10">10</option>
                        <option value="3.14" selected>3.14</option>
                    </select>
                    <select name="select-multiple-combined" multiple>
                        <option value="multiple-1">multiple-1</option>
                        <option value="multiple-2" selected>multiple-2</option>
                        <option value="3" selected>3</option>
                    </select>
                    <select name="select-multiple-numbers" multiple>
                        <option value="1" selected>1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                </form>
                `,
                expected: `{
                    "number":15.7,
                    "text":"25",
                    "range":15,
                    "checkbox":true,
                    "unknown":"some text",
                    "textarea":"Example text",
                    "select-one-combined":"second",
                    "select-one-numbers":3.14,
                    "select-multiple-combined":["multiple-2","3"],
                    "select-multiple-numbers":[1,2]
                }`
            },
            20: {
                desc: "All possible tags in form, parse-types=false",
                form:
                `
                <form 
                    hx-ext="json-enc-custom" 
                    hx-post="/" 
                    parse-types="false"
                >
                    <fieldset>
                        <input name="number" type="number" value="15.7">
                        <input name="text" type="text" value="25">
                        <input name="range" type="range" value="15">
                        <input name="checkbox" type="checkbox" checked>
                        <input name="unknown" value="some text">
                    </fieldset>
                    <textarea name="textarea">Example text</textarea>
                    <select name="select-one-combined">
                        <optgroup label="String options">
                            <option value="first">First</option>
                            <option value="second" selected>Second</option>
                        </optgroup>
                        <optgroup label="Number options">
                            <option value="10">10</option>
                            <option value="3.14">3.14</option>
                        </optgroup>
                    </select>
                    <select name="select-one-numbers">
                        <option value="10">10</option>
                        <option value="3.14" selected>3.14</option>
                    </select>
                    <select name="select-multiple-combined" multiple>
                        <option value="multiple-1">multiple-1</option>
                        <option value="multiple-2" selected>multiple-2</option>
                        <option value="3" selected>3</option>
                    </select>
                    <select name="select-multiple-numbers" multiple>
                        <option value="1" selected>1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                </form>
                `,
                expected: `{
                    "number":"15.7",
                    "text":"25",
                    "range":"15",
                    "checkbox":"on",
                    "unknown":"some text",
                    "textarea":"Example text",
                    "select-one-combined":"second",
                    "select-one-numbers":"3.14",
                    "select-multiple-combined":["multiple-2","3"],
                    "select-multiple-numbers":["1","2"]
                }`
            },
            21: {
                desc: "select[multiple] with only one option selected",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <select name="select" multiple> 
                        <option value="1" selected>First</option>
                        <option value="2">Second</option>
                        <option value="3">Third</option>
                    </select>
                </form>
                `,
                expected: `{
                    "select": ["1"]
                }`
            },
            22: {
                desc: "name is equal to \"values\"",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" parse-types="false">
                    <input type="text" name="values" value="abc"></input>
                    <input type="text" name="value"  value="abc"></input>
                </form>
                `,
                expected: `{
                    "values": "abc",
                    "value": "abc"
                }`
            },
            23: {
                desc: "multipart/form-data single file",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" hx-multipart parse-types="false">
                    <input type="file" name="sampleFile"></input>
                    <input type="text" name="value"  value="abc"></input>
                </form>
                `,
                expected: `{
                    "data": { "value": "abc" },
                    "files": ["test-case-23-0.txt"]
                }`
            },
            24: {
                desc: "multipart/form-data multiple files",
                form:
                `
                <form hx-ext="json-enc-custom" hx-post="/" hx-multipart parse-types="false">
                    <input type="file" name="sampleFile" multiple></input>
                    <input type="text" name="value"  value="abc"></input>
                </form>
                `,
                expected: `{
                    "data": { "value": "abc" },
                    "files": ["test-case-24-0.txt", "test-case-24-1.txt"]
                }`
            },
            25: {
                desc: "checkboxes array, parse-types=true",
                form:
                `
                <form
                    hx-ext="json-enc-custom"
                    hx-post="/"
                    parse-types="true"
                >
                    <input type="checkbox" name="array" value="el1" checked>
                    <input type="checkbox" name="array" value="el2">
                    <input type="checkbox" name="array" value="el3" checked>
                    <input type="checkbox" name="array" value="el4">
                </form>
                `,
                expected: `{
                    "array": [true, false, true, false]
                }`
            },
            26: {
                desc: "checkboxes array, parse-types=false",
                form:
                `
                <form
                    hx-ext="json-enc-custom"
                    hx-post="/"
                    parse-types="false"
                >
                    <input type="checkbox" name="array" value="el1" checked>
                    <input type="checkbox" name="array" value="el2">
                    <input type="checkbox" name="array" value="el3" checked>
                    <input type="checkbox" name="array" value="el4">
                </form>
                `,
                expected: `{
                    "array": ["el1", "el3"]
                }`
            },
            27: {
                desc: "force checkbox array, two selected",
                form:
                `
                <form
                    hx-ext="json-enc-custom"
                    hx-post="/"
                >
                    <input type="checkbox" name="array[]" value="el1" checked>
                    <input type="checkbox" name="array[]" value="el2">
                    <input type="checkbox" name="array[]" value="el3">
                    <input type="checkbox" name="array[]" value="el4" checked>
                </form>
                `,
                expected: `{
                    "array": ["el1", "el4"]
                }`
            },
            28: {
                desc: "force checkbox array, one selected",
                form:
                `
                <form
                    hx-ext="json-enc-custom"
                    hx-post="/"
                >
                    <input type="checkbox" name="array[]" value="el1">
                    <input type="checkbox" name="array[]" value="el2">
                    <input type="checkbox" name="array[]" value="el3">
                    <input type="checkbox" name="array[]" value="el4" checked>
                </form>
                `,
                expected: `{
                    "array": ["el4"]
                }`
            },
            29: {
                desc: "force checkbox array, none selected",
                form:
                `
                <form
                    hx-ext="json-enc-custom"
                    hx-post="/"
                >
                    <input type="checkbox" name="array[]" value="el1">
                    <input type="checkbox" name="array[]" value="el2">
                    <input type="checkbox" name="array[]" value="el3">
                    <input type="checkbox" name="array[]" value="el4">
                </form>
                `,
                expected: `{
                    "array": []
                }`
            },
            30: {
                desc: "All possible tags in form, no values, parse-types=false",
                form:
                `
                <form 
                    hx-ext="json-enc-custom" 
                    hx-post="/" 
                    parse-types="false"
                >
                    <fieldset>
                        <input name="number" type="number" value="">
                        <input name="text" type="text" value="">
                        <input name="checkbox" type="checkbox">
                        <input name="checkbox2" type="checkbox">
                        <input name="checkbox2" type="checkbox">
                        <input name="unknown" value="">
                    </fieldset>
                    <textarea name="textarea"></textarea>
                    <select name="select-one-combined">
                        <optgroup label="String options">
                            <option value="first">First</option>
                            <option value="second">Second</option>
                        </optgroup>
                        <optgroup label="Number options">
                            <option value="10">10</option>
                            <option value="3.14">3.14</option>
                        </optgroup>
                    </select>
                    <select name="select-one-numbers">
                        <option value="10">10</option>
                        <option value="3.14">3.14</option>
                    </select>
                    <select name="select-multiple-combined" multiple>
                        <option value="multiple-1">multiple-1</option>
                        <option value="multiple-2">multiple-2</option>
                        <option value="3">3</option>
                    </select>
                    <select name="select-multiple-numbers" multiple>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </form>
                `,
                expected: `{
                    "number":"",
                    "text":"",
                    "checkbox":"off",
                    "checkbox2":[],
                    "unknown":"",
                    "textarea":"",
                    "select-one-combined":"first",
                    "select-one-numbers":"10",
                    "select-multiple-combined":[],
                    "select-multiple-numbers":[]
                }`
            },
            31: {
                desc: "All possible tags in form, no values, parse-types=true",
                form:
                `
                <form 
                    hx-ext="json-enc-custom" 
                    hx-post="/" 
                    parse-types="true"
                >
                    <fieldset>
                        <input name="number" type="number" value="">
                        <input name="text" type="text" value="">
                        <input name="checkbox" type="checkbox">
                        <input name="checkbox2" type="checkbox">
                        <input name="checkbox2" type="checkbox">
                        <input name="unknown" value="">
                    </fieldset>
                    <textarea name="textarea"></textarea>
                    <select name="select-one-combined">
                        <optgroup label="String options">
                            <option value="first">First</option>
                            <option value="second">Second</option>
                        </optgroup>
                        <optgroup label="Number options">
                            <option value="10">10</option>
                            <option value="3.14">3.14</option>
                        </optgroup>
                    </select>
                    <select name="select-one-numbers">
                        <option value="10">10</option>
                        <option value="3.14">3.14</option>
                    </select>
                    <select name="select-multiple-combined" multiple>
                        <option value="multiple-1">multiple-1</option>
                        <option value="multiple-2">multiple-2</option>
                        <option value="3">3</option>
                    </select>
                    <select name="select-multiple-numbers" multiple>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </form>
                `,
                expected: `{
                    "number":0,
                    "text":"",
                    "checkbox":false,
                    "checkbox2":[false,false],
                    "unknown":"",
                    "textarea":"",
                    "select-one-combined":"first",
                    "select-one-numbers":10,
                    "select-multiple-combined":[],
                    "select-multiple-numbers":[]
                }`
            },
            32: {
                desc: "force checkbox array, two selected, parse-types=true",
                form:
                `
                <form
                    hx-ext="json-enc-custom"
                    hx-post="/"
                    parse-types="true"
                >
                    <input type="checkbox" name="array[]" value="el1" checked>
                    <input type="checkbox" name="array[]" value="el2">
                    <input type="checkbox" name="array[]" value="el3">
                    <input type="checkbox" name="array[]" value="el4" checked>
                </form>
                `,
                expected: `{
                    "array": [true, false, false, true]
                }`
            },
            33: {
                desc: "force checkbox array, one selected, parse-types=true",
                form:
                `
                <form
                    hx-ext="json-enc-custom"
                    hx-post="/"
                    parse-types="true"
                >
                    <input type="checkbox" name="array[]" value="el1">
                    <input type="checkbox" name="array[]" value="el2">
                    <input type="checkbox" name="array[]" value="el3">
                    <input type="checkbox" name="array[]" value="el4" checked>
                </form>
                `,
                expected: `{
                    "array": [false, false, false, true]
                }`
            },
            34: {
                desc: "force checkbox array, none selected, parse-types=true",
                form:
                `
                <form
                    hx-ext="json-enc-custom"
                    hx-post="/"
                    parse-types="true"
                >
                    <input type="checkbox" name="array[]" value="el1">
                    <input type="checkbox" name="array[]" value="el2">
                    <input type="checkbox" name="array[]" value="el3">
                    <input type="checkbox" name="array[]" value="el4">
                </form>
                `,
                expected: `{
                    "array": [false, false, false, false]
                }`
            },
            35: {
                desc: "select multiple array, parse-types=false",
                allowedToFail: true,
                form:
                `
                <form 
                    hx-ext="json-enc-custom" 
                    hx-post="/" 
                    parse-types="false"
                >
                    <select name="select-multiple" multiple>
                        <option value="1" selected>1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                    <select name="select-multiple" multiple>
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3" selected>3</option>
                    </select>
                </form>
                `,
                expected: `{
                    "select-multiple": [["1", "2"], ["2", "3"]]
                }`
            },
            36: {
                desc: "select multiple array, parse-types=true",
                allowedToFail: true,
                form:
                `
                <form 
                    hx-ext="json-enc-custom" 
                    hx-post="/" 
                    parse-types="true"
                >
                    <select name="select-multiple" multiple>
                        <option value="1" selected>1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                    <select name="select-multiple" multiple>
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3" selected>3</option>
                    </select>
                </form>
                `,
                expected: `{
                    "select-multiple": [[1, 2], [2, 3]]
                }`
            },
            37: {
                desc: "select array, parse-types=false",
                form:
                `
                <form 
                    hx-ext="json-enc-custom" 
                    hx-post="/" 
                    parse-types="false"
                >
                    <select name="select">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <select name="select">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                </form>
                `,
                expected: `{
                    "select": ["1", "2"]
                }`
            },
            38: {
                desc: "select array, parse-types=true",
                form:
                `
                <form 
                    hx-ext="json-enc-custom" 
                    hx-post="/" 
                    parse-types="true"
                >
                    <select name="select">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <select name="select">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                </form>
                `,
                expected: `{
                    "select": [1, 2]
                }`
            },
            39: {
                desc: "All possible tags in form, no values, hx-include, parse-types=true",
                form:
                `
                <div>
                    <form>
                        <fieldset>
                            <input name="number" type="number" value="">
                            <input name="text" type="text" value="">
                            <input name="checkbox" type="checkbox">
                            <input name="checkbox2" type="checkbox">
                            <input name="checkbox2" type="checkbox">
                            <input name="unknown" value="">
                        </fieldset>
                        <textarea name="textarea"></textarea>
                        <select name="select-one-combined">
                            <optgroup label="String options">
                                <option value="first">First</option>
                                <option value="second">Second</option>
                            </optgroup>
                            <optgroup label="Number options">
                                <option value="10">10</option>
                                <option value="3.14">3.14</option>
                            </optgroup>
                        </select>
                        <select name="select-one-numbers">
                            <option value="10">10</option>
                            <option value="3.14">3.14</option>
                        </select>
                        <select name="select-multiple-combined" multiple>
                            <option value="multiple-1">multiple-1</option>
                            <option value="multiple-2">multiple-2</option>
                            <option value="3">3</option>
                        </select>
                        <select name="select-multiple-numbers" multiple>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </form>
                    <button 
                        hx-include="previous form"
                        hx-ext="json-enc-custom" 
                        hx-post="/" 
                        hx-target="closest tr" 
                        parse-types="true"
                        type="button"
                    >
                        Submit
                    </button>
                </div>
                `,
                expected: `{
                    "number":0,
                    "text":"",
                    "checkbox":false,
                    "checkbox2":[false,false],
                    "unknown":"",
                    "textarea":"",
                    "select-one-combined":"first",
                    "select-one-numbers":10,
                    "select-multiple-combined":[],
                    "select-multiple-numbers":[]
                }`
            },
        };

        const urlParams = new URLSearchParams(window.location.search);
        const isolateTestKey = urlParams.get("isolate-test");

        Object.keys(testCases).forEach(function(testCaseKey) {
            const testCase = testCases[testCaseKey];
            if (isolateTestKey !== null) {
                if (testCaseKey == isolateTestKey) {
                    testCaseKey = "1";
                } else {
                    return;
                }
            }
            addTestCase(
                testCaseKey, 
                testCase.desc, 
                testCase.form, 
                testCase.expected, 
                testCase.allowedToFail,
            );
        });
    </script>
</body>
</html>
